backports.weakref==1.0rc1
bleach==1.5.0
dj-database-url==0.5.0
Django==2.0.4
gunicorn==19.7.1
html5lib==0.9999999
Markdown==2.2.0
numpy==1.13.0
protobuf==3.3.0
psycopg2==2.7.4
pytz==2018.4
six==1.10.0
tensorflow==1.2.0rc2
Werkzeug==0.12.2
whitenoise==3.3.1
