{% extends 'admin/base.html' %}
{% block extrahead %}
{% load static %}
{% endblock %}
{% csrf_token %}
{% block extrastyle %}
<style>
	#header{
		background-color: gray;	
	}
	#branding h1, #branding h1 a:link, #branding h1{
	color:white;
	}
	.app-auth{
			display:none;
	}
	#content h1{
			display:none;
	}
	#content h1{
			display:none;
	}
	#content-related{
		display:none;
	}
	.admin-logo{
	height:40px;
	}
	caption{
	background:gray ! important;
	}
</style>

{% endblock %}



{% block branding %}
 <h1><img class="admin-logo" src="{% static 'geruestproject/img/logo.png' %}" alt="Kiel"> Kiel - Industrial Services AG {{ wert }}</h1>
{% endblock %}
