{% extends 'admin/base.html' %}
{% block extrahead %}
{% load static %}
{% endblock %}

{% block extrastyle %}
<style>
	#header{
		background-color: gray;	
	}
	#branding h1, #branding h1 a:link, #branding h1{
	color:white;
	}
	.app-auth{
			display:none;
	}
	#content h1{
			display:none;
	}
	#content h1{
			display:none;
	}
	#content-related{
		display:none;
	}
</style>

{% endblock %}



{% block branding %}
<!--<img src="{% static 'polls/img/logo.png' %}" alt="Kiel">-->
<h1>Kiel - Industrial Services AG {{ wert }}</h1>
{% endblock %}
