.form-control {
	border: none;
	background-color: rgba(13, 56, 128, 0.2);
	color: #0D3880;
	margin: 1;
}
.form-control::placeholder{
	color: rgba(255, 255, 255, 0.7);
}

body {
	background-color: rgba(13, 56, 128, 0.2);
	color: #0D3880;
}

.card-title h5{
	color: #0D3880;
}
.btn-secondary {
	background-color: #0D3880;
}

.dashboard-view-element {
	background-color: greenyellow;
}
