html, body, .main-row{
	height: 100%;
}
.nav-side-bar .brand {
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
				color: #e1ffff;
}

.nav-side-bar{
			background-color: #2e353d;
			font-family: verdana;
			font-size: 12px;
			font-weight: 200;
			
}
.nav-side-bar a{
		color: #e1ffff;
	
}
.nav-side-bar ul li{
		cursor: pointer;
}
.nav-side-bar .nav-link.active{
				border-left: 3px solid #e1ffff;
    background-color: #4f5b69;
}
@media (min-width: 767px) {
	.nav-side-bar{
				min-height: 250%;
				background-color: #2e353d;
				font-family: verdana;
				font-size: 12px;
				font-weight: 200;
				padding: 0px 0px 0px 15px;
				
	}
}




/*-------*/
